@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.quiz-app {
  width: 600px;
  height: auto;
  margin: auto;
  margin-top: 10px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 30px 50px;
}

.main h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Poppins";
}

.main hr {
  height: 2px;
  border: none;
  background: #e6e4e4;
  margin-bottom: 20px;
}

.main .questions {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
}

.main ul li {
  font-family: "Poppins";
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 15px;
  border: 1px solid #686868;
  margin-bottom: 20px;
  font-size: 15px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.main button {
  font-family: "Poppins";
  margin: auto;
  width: 100px;
  height: 50px;
  font-size: 17px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-radius: 10px;
  background-color: #02c5e7;
  color: #e6e4e4;
  cursor: pointer;
  transition: all 0.3s ease;
}

.main button:hover {
  background-color: #009bb6;
}

.main .index {
  font-family: "Poppins";
  margin: auto;
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
  color: #a19f9f;
}

.main .correct {
  border: 1px solid #49e700;
  background-color: #49e7005d;
}

.main .wrong {
  border: 1px solid #e70000;
  background-color: #e700006e;
}

.created-by-text {
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 20px;
}

.created-by-text a {
  color: black;
  margin-left: 5px;
}

.created-by-text a:hover {
  color: #009bb6;
}

@media only screen and (max-width: 767px) {
  .quiz-app {
    width: 200px;
    margin-top: 100px;
    padding: 20px 50px;
  }
  .main p {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 600;
  }
  .main .score-result {
    font-family: "Poppins";
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  .created-by-text {
    font-size: 13px;
  }

  .created-by-text a {
    margin-left: 3px;
  }
}
